<p>Demande d'ouverture de boutique</p>
<p>L'utilisateur {{ userFirstName }} {{ userLastName }} vient de faire une demande d'ouverture de boutique</p>
<p>Ces informations sont les suivantes :</p>
<p>ID: {{ userId }}</p>
<p>Email: {{ email }}</p>
<p>Nom: {{ shopName }}</p>
<p>Siret: {{ shopSiret }}</p>
<p>Numéro de téléphone: {{ shopPhoneNumber }}</p>
<p>Adresse: {{ shopAddress }}</p>
<p>Code Postal: {{ shopPostalCode }}</p>
<p>Ville: {{ shopCity }}</p>